*{margin: 0;padding: 0}
body{
    min-width: 600px;
    background: url(1.png) no-repeat;
    background-color: #bfa;
}
#header{
    border: 2px solid salmon;
}
#box{
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    float: left;
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    zoom: 1;
}

#nav-menu{
    width:80%;
    height: 50px;
    color: white;
    margin: 0 auto;
}

#nav-menu ul li{
    width: 25%;
    font-size: 2em;
    float: left;
    display: hidden;
    list-style: none;
    text-align: center;
    background: rgb(72, 160, 189);
}

#nav-menu ul li:hover{
    background-color: rgb(193, 95, 95);
}

#box1{
    width: 200px;
    height: 200px;
    background: red;
    position: relative;
    left: 500px;
    top: 200px;
}

#box2{
    width: 200px;
    height: 200px;
    background: rebeccapurple;
    position: absolute;
    left: 200px;
    top: 400px;
    
}
#box3{
    width: 200px;
    height: 200px;
    background: yellowgreen;
}

#wrap{
    background: hsl(197, 71%, 73%);
    background: linear-gradient(transparent,hsla(197, 71%, 73%,.5),hsla(197, 71%, 73%,.5),transparent);
    width: 100px;
    height: 100px;
    border-radius: 1em;
}
#wrap a{
    display: block;
    width: 100%;
    height: 100%;
    color: pink;
    text-align: center;
    text-decoration: none;
    font: 2em/85px monaco,sans-serif;
}
#wrap a:visited{
    color: rebeccapurple;
}

.clip{
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    font-weight: bold;
    background: #c6f;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: medium solid rebeccapurple;
}
#outbox{
    background: #cf6;
    height: 200px;
}