body{
    background: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
        radial-gradient(tan 30%, transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
}