* {
    margin: 0;
    border: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: rgba(46, 20, 139, .7) no-repeat;
    background-image: linear-gradient(-55deg, transparent 40%, hsla(0, 0%, 100%, .1) 0, hsla(0, 0%, 100%, .1) 48%, transparent 0);
}

div{
    background-color: #ffba65;
    background-image:  linear-gradient(transparent,hsla(0,0%,100%,.5));
    width: 2em;
    height: 2em;
    margin: 2em;
    border-radius: 50% 50% 0 50%;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%,.5);
}
div > span{
    position: relative;
    top:.2em;
}

.page:hover{
    background-color: #92c93f;
    box-shadow: none;
}